<div class="clearfix">
    <div tal:condition="php: Component.catalogdetail_image1['mediaId'] gt 0" class="main-img align-right figure">
        <span tal:omit-tag="" tal:content="structure  Component/catalogdetail_image1/__html__" />
        <div class="description" tal:attributes="style php: 'width:' . Component.catalogdetail_image1['width'] . 'px'" tal:content="Component/catalogdetail_image1/title" />
    </div>
    <dl class="properties">
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_code!=''">
        <dt tal:content="structure php: __T('Identificativo nel sistema di provenienza')"></dt>
        <dd tal:content="structure Component/catalogdetail_code"></dd>
      </span>
      <dt tal:content="structure php: __T('Oggetto dell\'istituto')"></dt>
      <dd><span tal:omit-tag="" tal:condition="php: Component.catalogdetail_isInternal['checked']!=''" tal:content="structure php: __T('Si')"></span>
        <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_isInternal['checked']==''" tal:content="structure php: __T('No')"></span>
      </dd>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_category!=''">
        <dt tal:content="structure php: __T('Tipo risorsa')"></dt>
        <dd tal:content="structure Component/catalogdetail_category"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_language!=''">
        <dt tal:content="structure php: __T('Lingua')"></dt>
        <dd tal:content="structure Component/catalogdetail_language"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_author!=''">
        <dt tal:content="structure php: __T('MW_CATALOG_AUTHOR')"></dt>
        <dd tal:content="structure Component/catalogdetail_author"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_names!=''">
        <dt tal:content="structure php: __T('Nomi')"></dt>
        <dd tal:content="structure Component/catalogdetail_names"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_country!=''">
        <dt tal:content="structure php: __T('MW_CATALOG_COUNTRY')"></dt>
        <dd tal:content="structure Component/catalogdetail_country"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_city!=''">
        <dt tal:content="structure php: __T('Luogo di edizione')"></dt>
        <dd tal:content="structure Component/catalogdetail_city"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_publisher!=''">
        <dt tal:content="structure php: __T('Editore')"></dt>
        <dd tal:content="structure Component/catalogdetail_publisher"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_date!=''">
        <dt tal:content="structure php: __T('Data')"></dt>
        <dd tal:content="structure Component/catalogdetail_date"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_rights!=''">
        <dt tal:content="structure php: __T('Diritti')"></dt>
        <dd tal:content="structure Component/catalogdetail_rights"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_subjects!=''">
        <dt tal:content="structure php: __T('Soggetti')"></dt>
        <dd tal:content="structure Component/catalogdetail_subjects"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_recipients!=''">
        <dt tal:content="structure php: __T('Destinatari')"></dt>
        <dd tal:content="structure Component/catalogdetail_recipients"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_place!=''">
        <dt tal:content="structure php: __T('Istituto di conservazione')"></dt>
        <dd tal:content="structure Component/catalogdetail_place"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_fund!=''">
        <dt tal:content="structure php: __T('Fondo')"></dt>
        <dd tal:content="structure Component/catalogdetail_fund"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_material!=''">
        <dt tal:content="structure php: __T('Formato')"></dt>
        <dd tal:content="structure Component/catalogdetail_material"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_dimension!=''">
        <dt tal:content="structure php: __T('MW_CATALOG_DIMENSION')"></dt>
        <dd tal:content="structure Component/catalogdetail_dimension"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_place2!=''">
        <dt tal:content="structure php: __T('Collocazione')"></dt>
        <dd tal:content="structure Component/catalogdetail_place2"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_availability!=''">
        <dt tal:content="structure php: __T('Disponibilità')"></dt>
        <dd tal:content="structure Component/catalogdetail_availability"></dd>
      </span>
      <!--
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_FK_touristsite_id!=''">
        <dt tal:content="structure php: __T('Luogo collegato')"></dt>
        <dd tal:content="structure Component/catalogdetail_FK_touristsite_id"></dd>
      </span>
      -->
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_copyright!=''">
        <dt tal:content="structure php: __T('MW_CATALOG_COPYRIGHT')"></dt>
        <dd tal:content="structure Component/catalogdetail_copyright"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_geo!=''">
        <dt tal:content="structure php: __T('Coordinate geografiche')"></dt>
        <dd tal:content="structure Component/catalogdetail_geo"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_urlExternal!=''">
        <dt tal:content="structure php: __T('Link esterno')"></dt>
        <dd tal:content="structure Component/catalogdetail_urlExternal"></dd>
      </span>
      <span tal:omit-tag="" tal:condition="php: Component.catalogdetail_urlInternal!=''">
        <dt tal:content="structure php: __T('Link interno')"></dt>
        <dd tal:content="structure Component/catalogdetail_urlInternal"></dd>
      </span>
    </dl>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component.catalogdetail_description)">
    <h3 tal:content="structure php: __T('MW_CATALOG_DESCRIPTION')" />
    <span tal:omit-tag="" tal:content="structure Component/catalogdetail_description" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component.catalogdetail_bibliography)">
      <h3 tal:content="structure php: __T('MW_CATALOG_BIBLIO')" />
      <span tal:omit-tag="" tal:content="structure Component/catalogdetail_bibliography" />
  </span>
</div>

<span tal:omit-tag=""
        metal:use-macro="_macro.html/boxImageList"
        tal:define="images Component/images" />

<span tal:omit-tag=""
        metal:use-macro="_macro.html/boxAttachments"
        tal:define="media Component/media" />