<div class="results-content" >
    <h3 class="box-title" tal:content="structure Component/title"/>
    <span tal:condition="php: !is_null(Component.records) && Component.records.count() > 0" tal:omit-tag="" tal:repeat="item Component/records" >
        <div class="item clearfix">
            <div class="figure" tal:condition="php: item.catalogdetail_image1['mediaId'] gt 0" >
                <a tal:attributes="href item/__url__" tal:content="structure php: item.catalogdetail_image1['__html__']" />
            </div>
            <h4 class="box-title">
                <a tal:attributes="href item/__url__; title item/catalogdetail_title" tal:content="structure item/catalogdetail_title"/>
            </h4>
                <p tal:condition="item/catalogdetail_category"><strong tal:content="structure php: __T('Tipo di risorsa')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_category" /></p>
                <p tal:condition="item/catalogdetail_city"><strong tal:content="structure php: __T('Luogo di edizione')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_city" /></p>
                <p tal:condition="item/catalogdetail_publisher"><strong tal:content="structure php: __T('Editore')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_publisher" /></p>
                <p tal:condition="item/catalogdetail_date"><strong tal:content="structure php: __T('MW_CATALOG_DATE2')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_date" /></p>
        </div>
    </span>
    <span tal:condition="php: is_null(Component.records) || Component.records.count() == 0">
        <p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
    </span>
</div>
