<div class="searchResults" tal:condition="php: !is_null(Component.records)">
	<h3 tal:content="structure RecordSetList/title"/>
	<span tal:omit-tag="" tal:condition="php: Component.records.count() > 0">
		<div tal:repeat="item RecordSetList/records" tal:attributes="class item/__cssClass__">
			<div class="around">
				<h4><a href="" tal:attributes="href item/__url__; title item/newsletter_title" tal:content="structure item/newsletter_title"></a></h4>
				<h4 class="subtitle" tal:content="php: MW_formatDate(item['newsletter_creationDate'])" />
			</div>
		</div>
		<div class="clear"></div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !Component.records.count() > 0">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>