<div class="results-content">
    <h3 class="box-title" tal:content="structure Component/title"/>
    <span tal:condition="php: !is_null(Component.records) && Component.records.count() > 0" tal:omit-tag="" tal:repeat="item Component/records" >
        <div class="item clearfix">
            <h4 class="box-title">
                <a tal:attributes="href item/__url__; title item/pressroomdetail_title" tal:content="structure item/pressroomdetail_title"/>
            </h4>
            <div tal:omit-tag="" tal:content="structure item/pressroomdetail_date" />
        </div>
    </span>
    <span tal:condition="php: is_null(Component.records) || Component.records.count() == 0">
        <p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
    </span>
</div>
