<div class="searchResults" metal:define-macro="list" tal:condition="php: !is_null(Component.records)">
	<h3 class="box-title" tal:content="structure Component/title"/>
	<span tal:omit-tag="" tal:condition="php: Component.records.count() > 0">
		<div tal:repeat="item Component/records" tal:attributes="class item/__cssClass__">
			<div class="figure" tal:condition="php: count(item.images) AND item.images[0].image_id['mediaId'] GT 0">
				<a tal:attributes="href item/__url__; title item/touristsitedetail_name"><span tal:omit-tag="" tal:content="structure php: item.images[0].image_id['__html__']" /></a>
			</div>
    		<h4><a href="" tal:attributes="href item/__url__; title item/touristsitedetail_name" tal:content="structure item/touristsitedetail_name"></a></h4>
				<p tal:condition="item/touristsitedetail_place"><strong tal:content="structure php: __T('MW_TR_PLACE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/touristsitedetail_place" /></p>
				<p tal:condition="item/touristsitedetail_compilationDate"><strong tal:content="structure php: __T('MW_TR_COMPILATIONDATE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/touristsitedetail_compilationDate" /></p>
				<p tal:condition="item/touristsitedetail_author"><strong tal:content="structure php: __T('MW_TR_AUTHOR')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/touristsitedetail_author" /></p>
				<p tal:condition="item/touristsitedetail_category"><strong tal:content="structure php: __T('MW_TR_CATEGORY')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/touristsitedetail_category" /></p>
		</div>
	</span>
	<span tal:omit-tag="" tal:condition="php: Component.records.count() == 0">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>


<div class="searchResults" metal:define-macro="listRoute" tal:condition="php: !is_null(Component.records)">
	<h3 class="box-title" tal:content="structure Component/title"/>
	<span tal:omit-tag="" tal:condition="php: Component.records.count() > 0">
		<div tal:repeat="item Component/records" tal:attributes="class item/__cssClass__">
			<div class="figure" tal:condition="php: item.touristroutedetail_map['mediaId'] gt 0">
				<a href="" tal:attributes="href item/__url__; title item/touristroutedetail_name"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_map/__html__" /></a>
			</div>
				<h4><a href="" tal:attributes="href item/__url__; title item/touristroutedetail_name" tal:content="structure item/touristroutedetail_name">Antica trireme</a></h4>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_category"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_category" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_country"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_country" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_region"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_region" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_province"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_province" /></span>
		</div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !Component.records.count() > 0">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>
